{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des cols</h1>  
  {% load static %} <a href="{% url 'index' %}"><img src="{% static '/image/map.png' %}"  /> Voir sur la carte</a>   
  {% if col_list %}
  <br />
  <br />
  <table>
    <tr>
        <td><b>Nom</td></b>
        <td><b>Altitude</td></b>          
        <td><b>Code 100 cols</td></b>          
    </tr>      
    {% for col in col_list %}
      <tr>
        <td>
          <a href="{{ col.col_id }}">{{ col.col_name }}</a> 
        </td>  
        <td>{{col.col_alt}} m  </td>
        <td>{{col.col_code}}</td>
      </tr>  

    {% endfor %}
  </table>  
  {% else %}
    <p>There are no Col in the Database.</p>
  {% endif %}
{% endblock %}
