{% extends "base_generic.html" %}

{% block content %}
    
    <h3>{{ object.col_name }}</h3>        
    <p> <b>Altitude : </b>{{ object.col_alt }} m</p>
    <p> <b>Code cent cols : </b>{{ object.col_code }}</p>
    <p> <b>Lat/Lon : </b>{{ object.col_lat }} / {{ object.col_lon }}</p>
    
    <!--Begin Map Container-->  
     
     {% load static %} <a href="{% url 'Col Map View' col_id=object.col_id %}"><img src="{% static '/image/map.png' %}"  /> Voir sur la carte</a>    
    <!--End Map Container-->    
    <br><br>
        
    <p> <b>Activités:</b> </p>    
    <table id = "myTable" width="100%" class="sortable n-last" >              
        <thead>
            <tr>
                <th class="indicator-left">Date</th>
                <th class="indicator-left">Activité</th>
                <th class="indicator-left">Distance</th>
                <th class="indicator-left">Dénivelé</th>
                <th class="indicator-left">Type</th>                
            </tr>  
        </thead>    
        <tbody>
        
            {% for activity in object.get_activities_passed %}   
                <div class="activities">                                     
                    <tr>                                                
                        <td data-sort={{activity.get_activity_date|date:"ymd"}} >                    
                            {{activity.get_activity_date|date:"d M Y" }} 
                          </td>
                        <td>
                            <a href={{activity.get_activity_id}}>  {{ activity.get_activity_name }}</a> 
                        </td>
                        <td data-sort={{activity.get_activity_dist}}>
                            {{ activity.get_activity_dist }} km 
                        </td>
                        <td>
                            {{ activity.get_activity_den }} m
                        </td>
                        <td>
                            {{ activity.get_activity_type }}
                        </td>
                    </tr>
                </div>
            {% endfor %}    
        </tbody>
    </table>
{% endblock %}  



<!doctype html>