{% extends "base_generic.html" %}

{% block content %}
  <h1>Tous les cols effectués</h1>
  {% if col_counter_list %}
  <table>
    <tr>
        <td><b>Nom</td></b>
        <td><b>Code 100 Cols</td></b>          
        <td><b>Nombre de passages</td></b>          
    </tr>      
    {% for colc in col_counter_list %}            
    <tr>
      <td>
          <a href="{{ colc.get_col_id }}">{{ colc.get_col_name }}</a> 
      </td>  
      <td>
        {{ colc.col_code }}
      </td>
      <td>
        {{colc.col_count}}
      </td>             
    {% endfor %}
  </table> 
  {% else %}
    <p>There are no Col in the Database.</p>
  {% endif %}
{% endblock %}